
<div class="list-group">
    <div class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-details post }}
        </li>
        {{/each}}
    </div>
</div>

  <footer>
    <div class="footer">
      <p><a href="https://www.linkedin.com/in/mathew-osadolor-848b33177"><i class="fa-brands fa-linkedin"></i>
          <a href="https://github.com/mathewosad"><i class="fa-brands fa-github-square"></i>
            <a href="mailto:you@email.com"><i class="fa-solid fa-envelope-open-text"></i>
            </a>
            <p>Copyright &copy; 2022 | Mathew Osad</p>
      </p>
    </div>

  </footer>